
@font-face {
  font-family: 'ONE-Mobile-Title';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
  font-weight: 400;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

* {margin:0; padding:0; box-sizing:border-box;}
/* body {font-family:'Pretendard-Regular'; font-size:16px; color:#333; background:#f9f9f9;} */
li {list-style:none;}
img {vertical-align:middle;}
a {text-decoration:none; color:#333;}
.clear:after {content:""; display:block; clear:both;}
h1 {font-family:'ONE-Mobile-Title';}
button {width:100%; border:none; background:#488eca; color:#fff; font-size:1em; font-weight:bold; border-radius:5px; padding:8px; color:#fff; transition:all .2s;}
button:hover {background:#1b3d58;}
/* for IE 11 */
select::-ms-expand {display:none;}
.select {width:100%; padding:13px 20px; margin-top:20px; font-family:inherit; background:url(../img/arrow.png) no-repeat 95% 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none; border:1px solid #999; background-color:#fff; border-radius:5px; font-family:'Pretendard-Regular'; font-size:1em;}

header {width:100%; background:#fff; box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);}
header .hd_inner {position:relative; width:90%; height:60px; line-height:60px; margin:0 auto; text-align:center;}
header h1 {font-size:1.1em; color:#333; letter-spacing:3px;}
header .hd_tit {font-family:'ONE-Mobile-Title'; font-size:.8em;}
header > div {font-size:1.6em;}
header .hd_left {position:absolute; top:50%; left:0; transform:translateY(-50%);}
header .hd_right {position:absolute; top:50%; right:0; transform:translateY(-50%);}

/* .content .wrap {max-width:520px; margin:0 auto;} */
.content .wrap .inner {position:relative; width:90%; margin:0 auto;} 

body {
  /* font-family:'Pretendard-Regular'; */
  font-size:16px;
  color:#333;
  background: linear-gradient(to bottom, #d7effc, #ffffff);
  min-height: 100vh;
  margin: 0;
}

/* wrap은 고정 폭 유지, 오른쪽에서 428px 떨어지게 */
.content .wrap {
  max-width: 520px;
  width: 100%;          /* wrap 내부 콘텐츠는 폭 꽉 채우기 */
  margin-left: auto;
  float: left;
  background-color: #fff;
}

/* 왼쪽 로고 부분 */
.logo_bg{
  width: calc(100% - 520px - 428px);
  height: 100vh;
  float: left;
    display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 중앙 */
  align-items: center;     /* 가로 중앙 */
  text-align: center;

  gap: 20px; /* 이미지와 텍스트 사이 간격 */
}

.logo_bg img {
  max-width: 100%;
  height: auto;
}

.logo_bg p {
  font-size: 20px;
  line-height: 1.5;
}

.logo_bg p strong {
  font-size: 26px;
}


/* 오른쪽 캐릭터 부분 */
.character{
  width: 428px;
  height: 100vh;
  float: right;
    display: flex;
  justify-content: center;
  align-items: flex-end; /* 맨 하단 */
}

.character img {
  max-width: 100%;
  height: auto;
}


