/* 공통사용 */
.inner .ct_banner {width:100%; font-size:1.1em; color:#fff; border-radius:10px; margin-top:20px; padding:12px 15px; text-align:center; background:#696969; word-break:keep-all; line-height:1.3;}
.ct_inner {margin:30px 0;}
.question_bt {padding:12px;}

/* index */
.ct_home .box {border:1px solid #e1e1e1; border-radius:10px; margin-top: 20px;} 
.ct_home .box > div {position:relative; width:100%; border-radius:10px 10px 0 0; padding:25px 30px; background:#fff;} 
.ct_home .box > div h2 {font-size:1.5em;} 
.ct_home .box > div p {font-size:.95em; color:#7d7d7d; margin-top:7px;} 
.ct_home .box > div img {width:65px; position:absolute; top:50%; right:30px; transform:translateY(-50%);} 
.ct_home .box button {margin-top:0; border-radius:0 0 10px 10px;}

/* fairytale */
.ct_slide01 .slick-slide {width:100%; height:max-content; margin:0 auto; text-align:center; border:1px solid #e1e1e1; border-radius:10px; padding:20px 20px 30px 20px; word-break:keep-all; background:#fff; margin:0 10px;}
.ct_slide01 > div .slider_img {width:100%; min-height:180px; border-radius:10px;  text-align: center; } /*background:#ddd;*/
.ct_slide01 > div .slider_tit h2 {font-size:1.3em; margin:30px 0 20px;}
.ct_slide01 > div .slider_tit p {width:100%; height:140px; line-height:1.3; font-size:1em; color:#7d7d7d;} /*overflow:hidden; text-overflow:ellipsis; white-space:nowrap;*/
.ct_slide01 > div .slider_tit .slider_p {height:50px;}
.ct_slide01 > div button {margin-top:30px;}

.ct_video {width:100%; min-height:180px; background:#ddd;}
.ct_video_tit {width:100%; text-align:center; font-size:1.1em; margin-bottom:15px;}
.ct_video_tit i {margin-right:5px;}
.ct_question > div {margin:25px 0 0;}
.ct_question .tit {display:flex; align-items:center; font-size:1.2em; font-weight:600; margin-bottom:10px;}
.ct_question .tit p {font-size:1.6em; color:#4ad1cb; margin-right:7px;}
.ct_question .sub_tit i {margin-right:5px;}
.ct_question .sub_tit P {margin:8px 0; word-break:keep-all; line-height:1.3;}
.ct_question .sub_tit P.bg {background:#ddd; border-radius:5px; padding:5px 0 5px 10px;}
.ct_question button {margin-top:20px;}
.ct_question button:last-child {margin-top:10px;}
.ct_question #last {background:#f71d1d;}
.ct_question .ct_img {width:100%; min-height:180px; border-radius:10px; background:#ddd;}
.ct_question .num_tit .num {font-size:1.1em; font-weight:bold; margin-top:20px;}

.ct_question_a p {height:150px; padding-top:50px; text-align:center; word-break:keep-all; font-size:1.2em;}
.ct_question_a button {margin-top:12px;}

.ct_theater > div {position:relative; background:#fff; border:1px solid #e1e1e1; border-radius:10px; padding:20px; word-break:keep-all; margin-bottom:20px; transition:all .2s;}
/* .ct_theater > div::before {position:absolute; top:0; right:0; display:block; content:''; width:50px; height:100%; background:#ededed; border-radius:0 10px 10px 0;} */
.ct_theater > div:hover {background:#f0f0f0;}
.ct_theater > div .tit {font-size:1.1em; font-weight:bold; margin-bottom:10px;}
.ct_theater > div p {line-height:1.3; padding-right:40px;}
.ct_theater > div .start {position:absolute; top:50%; right:13px; transform: translateY(-50%);}
.ct_theater > div .start i {border:2px solid #4ad1cb; border-radius:50%; padding:3px; color:#4ad1cb; font-size:.9em; font-weight:bold; transition:all .2s;}
.ct_theater > div:hover .start i {background:#4ad1cb; color:#f9f9f9;}

.ct_theater_a p {background:#fff; border:1px solid #e1e1e1; border-radius:10px;}
.ct_theater_a .bt_flex {display:flex; justify-content:space-around; margin-top:30px;}
.ct_theater_a .bt_flex button {width:47%;}
.ct_theater_a .bt_flex button:last-child {background:#f71d1d;}

.ct_imgflex {display:flex; flex-wrap:wrap; justify-content:space-between;}
.ct_imgflex .ct_tit {width:100%; text-align:center; margin-bottom:30px; font-size:1.1em;}
.ct_imgflex .ct_img {width:47%; min-height:130px; background:#ddd; margin-bottom:20px; border-radius:10px; transition:all .2s;}
.ct_imgflex .ct_img img:hover {border:3px solid #f71d1d;}
.ct_imgflex button {margin-bottom:10px;}

/* brain */
.ct_brain .ct_tit {width:100%; text-align:center; margin-bottom:30px; font-size:1.1em; word-break:keep-all; line-height:1.3;}
.ct_brain .ct_tit_sub {width:100%; text-align:center; margin-bottom:10px; word-break:keep-all; line-height:1.3; color:#4a85d1;}
.ct_brain .ct_img {width:100%; min-height:200px; background:#ddd; border-radius:10px; }
.ct_brain .bt_ {margin-top:30px;}
.ct_brain .bt_ .bt_flex {margin-top:1px;}
.ct_brain .bt_ button {margin-top:12px;}
.ct_brain .bt_touch button {padding:20px 0;}
.ct_brain .bt_flex {display:flex; justify-content:space-between; margin-top:30px;}
.ct_brain .bt_flex_4 button {width:24%;}
.ct_brain .bt_flex_2 {flex-wrap:wrap;}
.ct_brain .bt_flex_2 button {width:49%; margin-bottom:12px;}
.ct_brain button.bt_color {background:#4a85d1;}
.ct_brain button.bt_color:hover {background:#5f9cec;}
.ct_brain .ct_imgbanner {width:100%; min-height:480px; background:#ddd; margin:0 auto;}

/* body */
.ct_body > div {position:relative; background:#fff; border:1px solid #e1e1e1; border-radius:10px; padding:20px; word-break:keep-all; margin-bottom:20px; transition:all .2s;}
.ct_body > div:hover {background:#f0f0f0;}
.ct_body > div .tit {font-size:1.2em; font-weight:bold; margin-bottom:15px;}
.ct_body > div p {line-height:1.3;}
.ct_body > div button {margin-top:20px;}
